.title {
    color: black;
    line-height: 1.5;
    text-align: center;
}

body {
    background-color: #F5F5F5
}


/* https://saruwakakun.com/html-css/reference/buttons */

.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    margin: 0.3%
}

.btn-flat-border:hover {
    background: #67c5ff;
    color: white;
}

.searchbox {
    width: 40%
}

div.red {
    color: red;
    text-align: center;
    position: relative;
    right: 5%;
}

.center {
    text-align: center
}