.searchbox {
    width: 40%;
    height: 1.15rem;
    font-size: 0.95rem;
}

div.red {
    color: red;
    text-align: center;
    position: relative;
    right: 5%;
}

.imgbt {
    max-width: 90%;
    max-height: 400px;

}

button.detail {
    /* font-size: 0.9rem; */
    width: 6%;
    max-width: 3.2rem;
}

div.detail{
    text-align: left;
    margin: 0.1rem 0rem 0.1rem 2rem;
}
