.searchbox {
    width: 40%;
    height: 1.15rem;
    font-size: 0.95rem;
}

div.red {
    color: red;
    text-align: center;
    position: relative;
    right: 5%;
}

.imgbt {
    max-width: 90%;
    max-height: 400px;
}