.taginput {
    width: 65%;
    height: 1.15rem;
}


/* 
#otherinput {
    width: 40%
} 
*/

#gridcontainer {
    display: grid;
    grid-template-columns: 49.5% 0.3rem 1fr;
    grid-template-rows: 1fr;
}

#gridleft {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#gridright {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}